<h1>semanticModal service demo</h1>

Here are some examples, with the options and the result. All pre use the
function call <code>ModalService.showModal(options);</code>.


<h4 class="ui horizontal divider header">
    <i class="arrow circle outline down
 icon"></i>
    Interactive demo
</h4>

<!--free-->
<div class="ui raised segments">
    <div class="ui segment">
        <div class="ui top attached label">choose your options</div>
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Title</label>
                    <input type="text" ng-model="ctrl.freeOpts.title">
                </div>
                <div class="field">
                    <label>Icon</label>
                    <input type="text" ng-model="ctrl.freeOpts.icon">
                </div>
            </div>
            <div class="two fields">
                <div class="field" ng-show="!ctrl.content.isHtml">
                    <label>Text</label>
                    <textarea rows="2" ng-model="ctrl.content.text"></textarea>
                </div>
                <div class="field" ng-show="ctrl.content.isHtml">
                    <label>Html</label>
                    <textarea rows="2" ng-model="ctrl.content.html"></textarea>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <div class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" ng-model="ctrl.content.isHtml">
                        <label>html</label>
                    </div>
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <label>Positive</label>
                    <input type="text" ng-model="ctrl.freeOpts.positive">
                </div>
                <div class="field">
                    <label>Negative</label>
                    <input type="text" ng-model="ctrl.freeOpts.negative">
                </div>

                <div class="field">
                    <label>&nbsp;</label>
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" ng-model="ctrl.freeOpts.basic">
                        <label>basic style</label>
                    </div>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" ng-model="ctrl.freeOpts.cancelable">
                        <label>cancelable</label>
                    </div>
                </div>
            </div>

        </form>
        <p>
        <pre class="output">{{ctrl.freeOpts | json}}</pre>
        </p>

        <div class="align-right">
            <button class="ui right  button inverted pink" ng-click="ctrl.freeModal()">Try</button>
        </div>
        <pre class="output" ng-show="freeModalOutput">{{freeModalOutput | json}}</pre>

    </div>
</div>


<h4 class="ui horizontal divider header">
    <i class="arrow circle outline down icon"></i>
    other examples
</h4>


<!--closeable-->
<div>A <strong>closable</strong> confirm modal.

<pre><code data-language="javascript">var options = {
    title: "confirm",
    text: "are you sure ?",
    positive: "yep",
    negative: "cancel",
    cancelable : true
};</code></pre>
    <div class="align-right">
        <button class="ui right  button inverted pink" ng-click="ctrl.modalInputsCancelable()">Try</button>
    </div>
    <pre class="output" ng-show="inputsCancelableOutput">{{inputsCancelableOutput | json }}</pre>
</div>


<!--icon-->
<div class="ui divider"></div>
<div>A confirm modal with <strong>html content</strong>, basic style and semantic icon.
    <pre><code data-language="javascript">var options = {
    title   : "Confirm deletion",
    html    : "&lt;p&gt;are you absolutely sure ?&lt;/p&gt;&lt;p&gt;You cannot undo this action.&lt;/p&gt;",
    positive: "proceed",
    negative: "cancel",
    icon    : "warning sign orange",
    basic   : true,
};</code></pre>
    <div class="align-right">
        <button class="ui right  button inverted pink" ng-click="ctrl.modalBasicIcon()">Try</button>
    </div>
    <pre class="output" ng-show="basicIconOutput">{{basicIconOutput | json}}</pre>
</div>

<!--bindings-->
<div class="ui divider"></div>
<div>A basic modal with <strong>angular bindings</strong>, non cancelable.
    <pre><code data-language="javascript">var options = {
    title: "confirm",
    html: "are you sure you want to delete {{inputs.sensor.name}} (id={{inputs.sensor.id}}) ?",
    positive: "yes",
    basic: true,
    inputs     : {
        sensor: {id: 3, name: "sensor-XXXX"}
    },
    cancelable : false
} );</code></pre>
    <div class="align-right">
        <button class="ui right  button inverted pink" ng-click="ctrl.modalHtmlInput()">Try</button>
    </div>
    <pre ng-show="htmlInputOutput" class="output">{{htmlInputOutput | json}}</pre>
</div>

<!--html include-->
<div class="ui divider"></div>

<div>A modal using a <strong>custom html content</strong>. Internally, semanticModal uses the <code>ng-include</code>
    directive. The <code>partial/editModal_content.html</code> file contains a basic html form.
    <pre><code data-language="javascript">var options = {
    title: "html include",
    htmlInclude: "partial/editModal_content.html",
    inputs: {name: "some name", description: "a description", hidden: "hidden"},
    positive: "do it!",
    cancelable : false
};</code>
</pre>
    <div class="align-right">
        <button class="ui right  button inverted pink" ng-click="ctrl.modalHtmlInclude()">Try</button>
    </div>
    <pre ng-show="htmlIncludeOutput" class="output">{{htmlIncludeOutput | json}}</pre>
</div>

<!--modale template-->
<div class="ui divider"></div>

<h3>Home-made modals</h3>

Semantic-modals lets you create your own modal from scratch using the <code>templateId</code> and
<code>templateUrl</code> options.  <br>
You can access and manipulate what is defined in the <code>inputs</code> option through the
<code>ctrl.inputs</code> variable.

One important rule, though: if you use a template, it is <emph>your responsibility</emph> to call the <code>close</code>
    method available in the modal scope. It means that in your template's buttons,
you need to have an attribute like <code>ng-click="close(true)"</code>. Without a call to <code>close</code>,
the success callback will indeed never be called.

Here is an example of buttons:

<pre ng-non-bindable><code data-language="html">
&lt;div class=&quot;ui black deny button&quot; ng-click=&quot;close(false)&quot;&gt;Cancel&lt;/div&gt;
&lt;div class=&quot;ui positive right button&quot; ng-click=&quot;close(true)&quot;&gt;Save&lt;/div&gt;
</code></pre>

To make a template available, you have three options:

<ol>
    <li>define a template somewhere in your page using the syntax:
        <pre ng-non-bindable><code data-language="html">&lt;script type=&quot;ng-template&quot; id=&quot;mytemplate.html&quot;&gt;
...
&lt;/script&gt;</code></pre>
        </pre>In this case, you only need to use the <code>templateId: "mytemplate.html"</code> property.
    </li>
    <li>define a template in a specific file that is not included in the page, using its filepath as a
    template id. In this case, only the <code>templateId: "mytemplate.html"</code> is needed. The
    library will automatically make the html request for you and load the template from the server.</li>
    <li>in case you have many templates, you can choose to put all your template definitions into one
    file. In this case, the filepath and the template ids will be different (logical, right?). In this
    context, you need to define both the <code>templateId</code> and <code>templateUrl</code>
    attributes.</li>
</ol>

<div class="ui divider"></div>

<div> A custom template defined on this page (have a look at the source code if you don't believe me):

<pre><code data-language="javascript">var options = {
    templateId: "inlineModalTemplate.html",
    cancelable : false
 };</code></pre>
    <div class="align-right">
        <button class="ui right  button inverted pink" ng-click="ctrl.modalTemplate1()">Try</button>
    </div>
    <pre class="output" ng-show="modalTemplateOutput1">{{modalTemplateOutput1 | json}}</pre>
</div>
<div class="ui divider"></div>

<!-- template -->

<script type="text/ng-template" id="inlineModalTemplate.html">
    <div class="ui modal small">

        <i class="close icon" ng-click="close(false)"></i>
        <div class="header">
            Custom template
        </div>
        <div class="image content">
            <div class="description">
                <form name="editform" class="ui form" novalidate>
                    <div class="ui labeled input">
                        <!--name-->
                        <div class="ui label">
                            name
                        </div>
                        <input type="text" ng-model="inputs.sensors.name">
                    </div>

                    <!--description-->
                    <div class="field">
                        <label>Description</label>
                        <textarea ng-model="inputs.sensor.description" rows="2"></textarea>
                    </div>

                    <!--location-->
                    <div class="field">
                        <label>Location</label>
                        <textarea ng-model="inputs.sensor.location" rows="2"></textarea>
                    </div>

                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" ng-click="close(false)">
                Nope
            </div>
            <div class="ui positive right labeled icon button" ng-click="close(true)">
                Go!
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</script>

<div>A modal template loaded from a file. The filepath is equal to the template id.</div>
<pre><code data-language="javascript">var options = {
    templateId: "partial/confirmModal.html",
    cancelable : false
}; </code></pre>
<div class="align-right">
    <button class="ui right  button inverted pink" ng-click="ctrl.modalTemplate2()">Try</button>
</div>
<pre class="output" ng-show="modalTemplateOutput2">{{modalTemplateOutput2 | json}}</pre>
</div>
<div class="ui divider"></div>

<div>A modal template loaded from a file with a different filepath than the template id.</div>
<pre><code data-language="javascript">var options = {
    templateId: "example",
    templateUrl: "partial/templates.html",
    cancelable : true
}</code></pre>
<div class="align-right">
    <button class="ui right  button inverted pink" ng-click="ctrl.modalTemplate3()">Try</button>
</div>
<pre class="output" ng-show="modalTemplateOutput3">{{modalTemplateOutput3 | json}}</pre>
</div>
<div class="ui divider"></div>