<script type='text/ng-template' id='example'>
    <div class='ui basic modal'>
        <div class='content'>
            <p>Yeah, this library rocks. My id is example and I am located inside the partials/templates.html file.</p>
        </div>
        <div class='actions'>
            <div class='ui red basic cancel inverted button' ng-click='close(false)'><i class="remove icon"></i> Cancel</div>
            <div class='ui green approve inverted button' ng-click='close(true)'><i class="checkmark icon"></i>OK</div>
        </div>
    </div>
</script>